.bx_my_order_cancel {
	margin-top: 20px;
	font-size:  15px;
}

.bx_my_order_cancel a {
	color: #0073a3;
}

.bx_my_order_cancel textarea {
	margin-top: 10px;
	height:     100px;
	width:      100%;
	max-width:  500px;
}

.bx_my_order_cancel_switch {
	margin-bottom: 15px;
	line-height:   30px;
}

.bx_my_order_cancel_switch .bx_mo_link {
	margin-right: 20px;
}