.rz_oneclick-buy {
  display: inline-block;
}
.rz_oneclick-buy .do-order:not(.btn) {
  text-decoration: none;
  border-bottom: 1px dashed;
  height: 18px;
  display: inline-block;
  margin-bottom: 5px;
}
#rz_modal-oneclick .req:after {
  content: ' *';
  color: red;
}
@media (min-width: 767px) {
  .main_content .goods_list.grid_view .goods_item.has_offer_select:hover .btn-buy {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
