#ys-geoipstore {
	font: 12px / 18px Arial, Tahoma, Verdana, sans-serif !important;
}

#mask {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 100 !important;
    top: 0 !important;
    left: 0 !important;
    background: url("images/mask.png") top left repeat !important;
    display: none;
}

.ys-popup {
    width: 240px !important;
    position: fixed !important;
    top: 40px !important;
    left: 50% !important;
    margin: 0 0 0 -141px !important;
    z-index: 110 !important;
    background: #fff !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    box-shadow: 0 1px 3px #777 !important;
    padding: 28px 21px 20px !important;
    display: none;
}

.ys-popup a.close {
    width: 32px !important;
    height: 32px !important;
    display: block !important;
    overflow: hidden !important;
    position: absolute !important;
    top: 15px !important;
    right: 10px !important;
    border: none !important;
}

.ys-popup a.close:hover {
    background-position: 0 -32px !important;
}

.ys-popup a.close:active {
	background-position: 0 -64px !important;
}

#ys-geoipstore .sym {
	font-family: WebSymbolsLigaRegular !important;
}

#ys-geoipstore {
	width: 220px !important;
	top: 20% !important;
	left: 40% !important;
}

#ys-geoipstore .ys-geoipstore-container {
    /*float: left !important;
    display: inline !important;*/
    width: 170px !important;
    margin: 0 0 15px 7px !important;
	border: 1px solid #888888 !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
}

#ys-geoipstore .ys-geoipstore-cont-active {
	background: rgb(241, 241, 241) !important;
}

#ys-geoipstore .ys-geoipstore-item {
    margin: 5px !important;
}

#ys-geoipstore .ys-geoipstore-stores {
    list-style-type: none !important;
    margin-top: 7px !important;
}

#ys-geoipstore h2 {
	font-size: 20px !important;
	width: 550px !important;
	font-weight: normal !important;
}

#ys-geoipstore a {
	text-decoration: none !important;
}

#ys-geoipstore a span {
	border-bottom: 1px dashed !important;
}

.ys-geoip-store-city, .ys-geoipstore-itemlink {
	border-bottom: 1px dashed !important;
	text-decoration: none !important;
    display: inline;
}

#ys-geoipstore .button {
	-webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    padding: 5px 16px !important;
    text-align: center !important;
    text-decoration: none !important;
	padding: 6px 10px !important;
	cursor: pointer !important;
}

#ys-geoipstore h3 {
    color: black !important;
    margin-bottom: 15px !important;
}