@font-face {
	font-family: 'Intro';
	src: local('Intro'), url('fonts/intro/400.woff2') format('woff2'), url('fonts/intro/400.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
.page_footer__contacts a.phone {
	cursor: pointer;
}

/* fix bitrix edit mode 4 include_areas */
.page_footer__shop_info_wrapper div[id^="bx_incl_area"],
.page_footer__copyrights_wrapper div[id^="bx_incl_area"],
.page_footer__contacts div[id^="bx_incl_area"],
.contacts_block div[id^="bx_incl_area"] {
	display:    inline-block;
	min-width:  12px;
	min-height: 12px;
}

.goods_list .goods_item__img {
	text-align: center;
}

.page_wrapper .goods_item .goods_item__img_second {
	display: none;
}

.page_wrapper .goods_item.with_second_pic:hover .goods_item__img {
	display: none;
}

.page_wrapper .goods_item.with_second_pic:hover .goods_item__img_second {
	display: inline-block;
}

.goods_list__categories_item__link {
	padding: 0 !important;
}

.goods_list__categories_item__link .icon {
	font-size: 35px;
	top:       0;
}

.goods_list__categories_item__link .icon + .inner {
	margin: 0 0 0 40px;
}

.goods_list__categories_item__link .icon.icon_tyrebold {
	font-size: 30px;
	top:       4px;
}

.goods_list__categories_item__link .icon.icon_disk3 {
	font-size: 35px;
	top:       0;
}

.goods_list__categories_item__link .icon.icon_car48 {
	font-size: 49px;
	top:       -6px;
}

.goods_list__categories_item__link .icon.icon_car48 + .inner {
	margin: 0 0 0 49px;
}

.goods_list__categories_item__link .icon.icon_jeep + .inner {
	margin: 0 0 0 63px;
}

.js-slider_goods_list .goods_list:not(.active) {
	display: none;
}

.goods_item__buy_button select.normal {
	max-width: 80%;
	padding:   1px 2px;
	margin:    5px 0;
}

.ajax_container {
	position: relative;
}

.ajax_shadow {
	position:         absolute;
	opacity:          0;
	z-index:          1060;
	border-radius:    5px;
	background-color: #fff;
}

.ajax_loader {
	position: absolute;
	z-index:  1070;
}

.ajax_loader:before {
	display:        inline-block;
	position:       absolute;
	z-index:        1100;
	top:            50%;
	left:           50%;
	font-size:      90px;
	font-family:    WebSymbols;
	overflow:       hidden;
	content:        attr(data-counter);
	width:          90px;
	height:         90px;
	margin-left:    -45px;
	margin-top:     -45px;
	border-radius:  5px;
	vertical-align: top;
	line-height:    90px;
}

.jq-selectbox-multy {
	z-index: auto !important;
}

.jq-selectbox-multy.jqselect {
	max-width: 100%;
}

.jq-selectbox-multy__dropdown {
	z-index: 10;
}

.calendar-wrapper {
	position: relative;
}

.calendar-wrapper .form-control {
	padding-right: 20px;
}

.calendar-wrapper .calendar-icon {
	display:    inline-block;
	width:      20px;
	height:     20px;
	position:   absolute;
	right:      5px;
	top:        50%;
	margin-top: -7px;
}

.calendar-wrapper .calendar-icon-hover {
	border:      none;
	margin-left: 2px;
}

.ordering_block.step_3 .ordering_block__features .item .icon_wrapper .sprite {
	background-position: center center;
}

.popup_compare {
	min-height: 200px;
}

.popup_compare .compare__main .delete {
	text-align: right;
	padding:    35px 0 0;
}

.popup_compare .compare__main .delete_link {
	line-height:        1.5;
	-webkit-transition: .2s;
	-o-transition:      .2s;
	transition:         .2s;
}

.offer_detail_select {
	margin-top:    5px;
	margin-bottom: 10px;
}

.form-group.socials .socials_list .bx-ss-icon {
	display: inline-block;
}

.form-group.socials .socials_list .bx-auth-service-form {
	padding-top: 15px;
}

.form-group.socials .socials_list .bx-auth-service-form input[type=text] {
	max-width: 130px;
}

.form-group.socials .socials_list .bx-auth-service-form .button {
	cursor: pointer;
}

.bx-calendar a {
	text-decoration: none;
	border-bottom:   none;
}

.noUi-base .tooltip {
	opacity: 1;
}

.page_header__main .btn-compare.hidden + .btn-cart {
	margin-top: 27px;
}

.message {
	font-size:     inherit;
	font-family:   'Roboto', sans-serif;
	padding:       15px;
	margin-bottom: 20px;
	border:        1px solid transparent;
	border-radius: 4px;
}

.message.message-error {
	color:            #a94442;
	background-color: #f2dede;
	border-color:     #ebccd1;
}

.message.message-warning {
	color:            #8a6d3b;
	background-color: #fcf8e3;
	border-color:     #faebcc;
}

.message.message-success {
	color:            #3c763d;
	background-color: #dff0d8;
	border-color:     #d6e9c6;
}

.bx-context-toolbar-empty-area {
	min-width: 12px;
}

.ordering_block__out_basket.ordering_block__inactive {
	margin-right: 26px;
}

.page_footer__logo img {
	width: 72px;
}

.page_footer__logo_title {
	display:        inline-block;
	margin:         0 20px 0 10px;
	vertical-align: top;
	width:          210px;
}

.form-group.required label:after {
	content: '*';
	color:   #f00;
}

.btn.normal {
	height:      31px;
	line-height: 31px;
}

.ordering_block.step_1 .basket_order_form .basket_order__main td.amount {
	padding-left: 10px;
}

.btn-compare .amount {
	display: inline-block;
}

.field_head__main__inner {
	display: inline-block;
}

.seach_form.calculator .seach_form__inner_values > .column > .row > div {
	line-height: 31px;
}

#bx-composite-banner {
	float: right;
}

.rateit.disabled .rateit-range {
	cursor: default;
}

.jq-selectbox__dropdown > ul {
	width: 100%;
}

.compare_link.active .text.in,
.favourite_link.active .text.in {
	display: none;
}

.compare_link.active .text.out,
.favourite_link.active .text.out {
	display: inline;
}

.compare_link .text,
.favourite_link .text {
	display: inline;
}

.compare_link .text.out,
.favourite_link .text.out {
	display: none;
}

.form-group-agreement.has-error {
	background:    #ffc1c1;
	padding:       5px 10px 1px 10px;
	border-radius: 5px;
}

.sidebar_filter__inner.sidebar_filter__inner_group .seach_form__inner_price {
	margin: 0 23px 60px 23px;
}

.seach_form.tyres div.tires-types-selector {
	text-align: center;
	width:      95%;
}

.item_modifications .item_manage__buying {
	width:  230px;
	margin: 0 auto;
}

.item_modifications .item_manage__amount, .item_modifications .item_manage__submit {
	display:        inline-block;
	vertical-align: middle;
}

.item_modifications .item_manage__amount {
	margin: 3px 0 0 0;
}

.benefits_goods_block .goods_item__info {
	text-align: center;
}

.avalible > .da {
	display: inline;
}

.avalible > .net {
	display: none;
}

.unavailable > .da {
	display: none;
}

.unavailable > .net {
	display: inline;
}
@media (max-width: 1200px) {
	.goods_list__toolbar {
		display: block;
	}
	.goods_list__toolbar .items_on_page_wrapper {
		display: none;
	}
	.goods_list__toolbar .change_view_wrapper {
		display: none;
	}

}

.goods_list__toolbar {
	min-height: 53px;
}
@media (max-width: 767px) {
	.settings_button {
		z-index:500;
	}
	.rz_oneclick-buy{
		display: block;
	}
}

.beono-flashmessage-close{
	border-bottom: 0px !important;
}

.goods_item__img a{
	text-decoration: none;
	border-bottom:none;
}
@media (max-width: 470px){
	.item_modifications .item_manage__buying {
		width:auto;
	}
	.rz_oneclick-buy{
		display: block;
	}
}

@media (min-width: 1200px) {
	.single_column .goods_item {
		float: left;
		width: 19.666667%;
	}
}

.item_specification__list li .hint-have{
	cursor: help;
}
#rz_modal-oneclick .req:after {
	content: '*';
	color: red;
}
.popup_city_selection__list.ys-loc-cities .ys-your-city{
	font-weight: bold;
}
.popup_city_selection__list.ys-loc-cities .ys-your-city a{
	border-bottom: none;
}
.popup_city_selection__list.ys-loc-cities .ys-your-city a span{
	border: none;
	cursor: default;
}

.popup_city_selection__list.ys-loc-cities .ys-your-city a span:hover{
	color:#0c52d4;
}
.vkontakte-button {
	background-position: 0 -268px!important;
}
.facebook-button {
	background-position: 0 -224px!important;
}
.bx-ss-button {
	display: inline-block;
	background-image: url('/bitrix/js/socialservices/css/icons_v5.png')!important;
	width: 87px!important;
	height: 21px!important;
	background-repeat: no-repeat;
	vertical-align: middle!important;
}
.goods_item__manage a{
	border-bottom: none;
}
.goods_list.table_view .item__title{
	max-width: 120px;
}
.goods_list.table_view .RzStore{
	display: none;
}
.goods_list.table_view .rz_oneclick-buy{
	display: none;
}
.rz_oneclick-buy{
	display: block;
}
#catalog_sectionList .goods_list .has_offer_select{
	/*margin-bottom: 23px;*/
}
.page_content.container.single_column .item_manage__inner .compare_link .icon,.page_content.container.single_column .item_manage__inner .favourite_link .icon{
	display: inline-block;
}
.page_content.container.single_column .item_manage__inner .compare_link, .page_content.container.single_column .item_manage__inner .favourite_link{
	border-bottom: none;
}
.settings_button.sets_icon{
	z-index: 1000;
}
#modal-settings .icon.icon_eye63{
	padding-bottom: 7px;
	cursor: help;
}
.RzStore__indicator.text.none {
	border-bottom: 1px solid transparent;
}
#catalog_sectionList .RzStore {
	height: 34px;
}
.sub-categories[data-sub-view=inline] .img__block{
	width:auto;
	height: auto;
	line-height: normal;
}
.sub-categories[data-sub-view=inline] span.text{
	max-width:100%;
}
.agreement-policy label{
	max-width: 87%;
}
.agreement-policy div{
	vertical-align: top;
}
.ordering_block.step_3 .checkbox.col-md-4.aggremment {
	margin-top: -5px;
}
.ordering_block__inner.submit_block .form-group.agreement-policy{
	vertical-align: top;
	text-align: left;
	display: inline-block;
}
#auth_modalForm_Form .agreement-policy{
	margin-left: -17px;
}
.tires-types-selector > .jq-radio{
    display: none !important;
}
.tires-types-selector > input[type="radio"]{
    display: none;
}
#sectionFilter .column{
	z-index: 10;
}
.jq-selectbox select{
	height:0 !important;
}


.page_header__main .column-3 {
width: auto !important;
}

[data-menu-type=vertical] .page_header__search_form, [data-menu-type=default] .page_header__search_form {
    width: auto;
    position: absolute;
    top: 100%;
    left: 280px;
    right: 150px;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 0;
}

[data-menu-type=default] .btn-mainmenu-toggle {
	border: none;
}



.order-dir{
	width: 70px;
    height: 46px;
    margin-top: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    display:inline-block;
	background-color: #332c3a !important;
}

.order-dir:hover {
	background-color: #332c3a !important;
}

@media (max-width: 991px) {
	.media-hidden {
		display: none;
	}

	.order-dir {
		display: none;
	}
}