body {
  width: 945px !important;
  margin: 0 auto !important;
}
h2 {
  margin: 60px 0 30px;
}
.inputs_example {
  margin-left: -15px;
  margin-right: -15px;
}
.inputs_example:before,
.inputs_example:after {
  content: " ";
  display: table;
}
.inputs_example:after {
  clear: both;
}
.inputs_example .column {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .inputs_example .column {
    float: left;
    width: 33.33333333%;
  }
}
.ui-wrapper {
  margin: 20px 0;
}
.top_line {
  height: 33px;
  background: url('../images/bg/gray-pattern.png');
}
.ui-wrapper-city-selection {
  height: 39px;
  background: #4c434e;
  padding: 8px 0 0 8px;
}
.tires-types-selector__item {
  margin-bottom: 6px;
}
