.btn-primary {
  color: #000;
  background-color: #ffbd1e;
  border-color: #ffbd1e;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.pagination > li > a.current,
#modal-basket .btn-cart {
  color: #000;
  background-color: #eaa500;
  border-color: #e09e00;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.pagination > li > a.current {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] #modal-basket .btn-cart {
  background-color: #ffbd1e;
  border-color: #ffbd1e;
}
.btn-primary .badge {
  color: #ffbd1e;
  background-color: #000;
}
.page_header__nav .navbar-default .navbar-nav > li > a {
  color: #000;
  text-shadow: 0px 1px 0px #ffe252;
}
@media (max-width: 767px) {
  .page_header__nav .navbar-default .navbar-nav > li > a {
    color: #000;
  }
}
.page_header__nav .navbar-default .navbar-nav > li:hover > a {
  color: #000;
}
.tag {
  color: #000;
  text-shadow: 0px 1px 0px #ffe252;
}
.brand-primary-color {
  color: #ffbd1e;
}
a.brand-primary-color {
  border-color: rgba(255, 189, 30, 0.5);
}
a.brand-primary-color:hover {
  color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Icons
----------------------------------------------------------------------------- */
.sets_icon {
  background-image: url(../../images/icons/settings/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sets_icon.sets_icon-blue_1 {
  background-position: 0 0;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_2 {
  background-position: 0 -63px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_3 {
  background-position: 0 -126px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_4 {
  background-position: 0 -189px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_5 {
  background-position: 0 -252px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_6 {
  background-position: 0 -315px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_1 {
  background-position: 0 -378px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_2 {
  background-position: 0 -441px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_3 {
  background-position: 0 -504px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_4 {
  background-position: 0 -567px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_5 {
  background-position: 0 -630px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_6 {
  background-position: 0 -693px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_1 {
  background-position: 0 -756px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_2 {
  background-position: 0 -819px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_3 {
  background-position: 0 -882px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_4 {
  background-position: 0 -945px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_5 {
  background-position: 0 -1008px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_6 {
  background-position: 0 -1071px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_1 {
  background-position: 0 -1134px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_2 {
  background-position: 0 -1197px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_3 {
  background-position: 0 -1260px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_4 {
  background-position: 0 -1323px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_5 {
  background-position: 0 -1386px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_6 {
  background-position: 0 -1449px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_1,
.settings_button {
  background-position: 0 -1512px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_2,
.settings_button:hover {
  background-position: 0 -1575px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_3,
.settings_button:active {
  background-position: 0 -1638px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_4,
.popup_color_scheme .submit_settings {
  background-position: 0 -1701px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_5,
.popup_color_scheme .submit_settings:hover {
  background-position: 0 -1764px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_6,
.popup_color_scheme .submit_settings:active {
  background-position: 0 -1827px;
  width: 53px;
  height: 63px;
}
/* -----------------------------------------------------------------------------
	Plugins
----------------------------------------------------------------------------- */
/* Formstyler */
.jq-checkbox.checked .jq-checkbox__div:before {
  color: #ffa61e;
}
.jq-radio:hover {
  border-color: #fcc04a;
  border-top-color: #ffd133;
  border-bottom-color: #fc9a44;
}
.jq-radio.checked {
  border-color: #feb839;
  border-top-color: #ffd02e;
  border-bottom-color: #fc9a44;
}
.jq-radio.checked .jq-radio__div {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjNTk5MmEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZhOTY0MSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #c5992a 0%, #fa9641 100%);
  background-image: linear-gradient(to bottom, #c5992a 0%, #fa9641 100%);
  box-shadow: inset 0 1px 1px #db6d0e;
}
.forms-wrapper:hover .jq-radio,
label.forms-wrapper:hover .jq-radio {
  border-color: #fcc04a;
  border-top-color: #ffd133;
  border-bottom-color: #fc9a44;
}
.category-select li:hover {
  color: #ff9c00;
}
/* NoUiSlider */
.noUi-horizontal.range_slider .noUi-connect {
  border-top-color: #d48a2b;
  border-bottom-color: #e8901b;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmRiMjYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2YTMxZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffdb26 0%, #f6a31d 100%);
  background-image: linear-gradient(to bottom, #ffdb26 0%, #f6a31d 100%);
}
.noUi-horizontal.range_slider .noUi-handle:hover:after {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjZTc2MTAiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkY2ExYiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ce7610 0%, #edca1b 100%);
  background-image: linear-gradient(to bottom, #ce7610 0%, #edca1b 100%);
}
.noUi-horizontal.range_slider.noUi-state-drag .noUi-handle:hover {
  border-color: #ffac1f;
  border-top-color: #fba224;
  border-bottom-color: #fecd21;
}
.noUi-horizontal.range_slider.noUi-state-drag .noUi-handle:hover .tooltip {
  border-color: #ffc31e;
}
.noUi-horizontal.range_slider.noUi-state-drag .noUi-handle:hover .tooltip:after {
  border-color: #ffc31e;
}
.noUi-horizontal.range_slider.single .noUi-base {
  border-top-color: #d48a2b;
  border-bottom-color: #e8901b;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmRiMjYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2YTMxZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffdb26 0%, #f6a31d 100%);
  background-image: linear-gradient(to bottom, #ffdb26 0%, #f6a31d 100%);
}
/* -----------------------------------------------------------------------------
	Bootstrap
----------------------------------------------------------------------------- */
/* Scafolding */
a {
  text-decoration: none;
  border-bottom: 1px solid rgba(23, 123, 233, 0.5);
}
a:hover {
  color: #ffbd1e;
  border-bottom: 1px solid rgba(255, 189, 30, 0.5);
}
/* Breadcrumbs */
.breadcrumb a:hover {
  color: #ffb530;
  border-bottom-color: rgba(255, 181, 48, 0.5);
}
/* Buttons */
.btn [class^="flaticon-"]:before,
.btn [class*=" flaticon-"]:before,
.btn [class^="flaticon-"]:after,
.btn [class*=" flaticon-"]:after,
.btn .icon,
.btn .icon:before {
  color: #ffbd1e;
}
.btn-primary {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
  border-color: #f6b968;
  border-top-color: #fddb00;
  border-bottom-color: #ed7805;
  text-shadow: 0 1px #ffe252;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
#modal-basket .btn-cart {
  border: 1px solid #f6b968;
  border-top-color: #fddb00;
  border-bottom-color: #ed7805;
  background-repeat: no-repeat;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#ffe11e, #ffa21e 30%, #ff841e);
  background-image: linear-gradient(#ffe11e, #ffa21e 30%, #ff841e);
}
.btn-primary:active,
.pagination > li > a.current {
  border: 1px solid #f6b968;
  border-top-color: #fddb00;
  border-bottom-color: #ed7805;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
}
.btn-group-auth .btn:hover {
  color: #000;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
  border-color: #f6b968;
  border-top-color: #fddb00;
  border-bottom-color: #ed7805;
  text-shadow: 0 1px #ffe252;
}
.btn-group-auth .btn:hover span[class^="flaticon-"]:before,
.btn-group-auth .btn:hover .icon,
.btn-group-auth .btn:hover .icon:before {
  color: #000;
}
.btn-cart .badge,
.btn.btn-cart .badge {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmOWU4YWEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2OTUxZiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #f9e8aa 0%, #f6951f 100%);
  background-image: linear-gradient(to bottom, #f9e8aa 0%, #f6951f 100%);
}
.btn-arrow,
.btn.btn-arrow,
.pagination > li > a.prev,
.btn.pagination > li > a.prev,
.pagination > li > a.next,
.btn.pagination > li > a.next {
  color: #ffba1e;
  text-shadow: 0 1px #1c181d;
}
.btn-arrow:hover,
.btn.btn-arrow:hover,
.btn-arrow:active,
.btn.btn-arrow:active,
.pagination > li > a.prev:hover,
.btn.pagination > li > a.prev:hover,
.pagination > li > a.prev:active,
.btn.pagination > li > a.prev:active,
.pagination > li > a.next:hover,
.btn.pagination > li > a.next:hover,
.pagination > li > a.next:active,
.btn.pagination > li > a.next:active {
  color: #ffba1e;
}
.btn-group-change-view button:hover .icon {
  color: #d38100;
}
.btn-group-change-view button:active .icon,
.btn-group-change-view button.active .icon {
  color: #d38100;
}
/* Show Tip */
.show_tip:hover,
.show_tip:focus:hover {
  color: #ffbd1e;
}
/* Pagination */
.pagination > li > a.disabled,
.pagination > li > a.disabled:link,
.pagination > li > a.disabled:visited,
.pagination > li > a.disabled:hover,
.pagination > li > a.disabled:active {
  box-shadow: none;
  background: #fff !important;
  color: silver;
  border: 1px solid silver !important;
  cursor: default;
  pointer-evetns: none;
}
/* Forms */
* .form-control-small:focus,
.form-inline .form-control-small:focus {
  box-shadow: 0 0 1px 1px #ffdb8e;
}
.form-control:hover {
  border-color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Header
----------------------------------------------------------------------------- */
.page_header__top_line .info-navbar li > a:hover {
  color: #ffbd1e;
}
.page_header__top_line .info-navbar li > a:hover .inner {
  border-bottom: 1px solid rgba(255, 189, 30, 0.5);
}
.page_header__top_line .user_authorized .icon,
.page_header__top_line .user_authorized a {
  color: #ffbd1e;
}
.page_header__top_line .user_authorized .name {
  border-bottom-color: rgba(255, 189, 30, 0.5);
}
.page_header__nav {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
  border-top-color: #ffe85f;
  border-bottom-color: #e08612;
}
.page_header__nav:before {
  background: #fff1af;
}
.page_header__nav .subnav:before {
  border-color: #f6b968;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
}
.page_header .navbar-toggle:before {
  color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Form Reset Button
----------------------------------------------------------------------------- */
.form_reset_button:hover {
  color: #ffbd1e;
  border-bottom: 1px dashed rgba(255, 189, 30, 0.5);
}
/* -----------------------------------------------------------------------------
	City Selection
----------------------------------------------------------------------------- */
.city-selection .flaticon-location4 {
  color: #ffb400;
}
.city-selection:hover {
  color: #ffb400;
}
/* -----------------------------------------------------------------------------
	Delete icon
----------------------------------------------------------------------------- */
.flaticon-delete30:hover:before,
.close.flaticon:hover:before {
  color: #ffb530;
}
.flaticon-delete30:active:before,
.close.flaticon:active:before {
  color: #d38100;
}
.flaticon-delete30:before,
.close.flaticon:before {
  -webkit-transition: color .3s;
          transition: color .3s;
}
.page_header__search_form__field_wrapper .flaticon-delete30:before,
.page_header__search_form__field_wrapper .close.flaticon:before {
  color: #fff;
}
.page_header__search_form__field_wrapper .flaticon-delete30:hover:before,
.page_header__search_form__field_wrapper .close.flaticon:hover:before {
  color: #ffb530;
}
.page_header__search_form__field_wrapper .flaticon-delete30:active:before,
.page_header__search_form__field_wrapper .close.flaticon:active:before {
  color: #d38100;
  -webkit-transition: none;
          transition: none;
}
/* -----------------------------------------------------------------------------
	Tags
----------------------------------------------------------------------------- */
.tag {
  border-color: #f6b968;
  border-top-color: #fddb00;
  border-bottom-color: #ed7805;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
}
.tag:after {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(-140deg, #ffe11e, #ff991e);
  background-image: -webkit-linear-gradient(220deg, #ffe11e, #ff991e);
  background-image: linear-gradient(230deg, #ffe11e, #ff991e);
  border-right: 1px solid #fddb00;
  border-bottom: #ed7805;
}
.tag:hover {
  background-repeat: no-repeat;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#ffe11e, #ffa21e 30%, #ff841e);
  background-image: linear-gradient(#ffe11e, #ffa21e 30%, #ff841e);
}
.tag:hover:after {
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZhMjFlIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjg0MWUiIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-linear-gradient(-140deg, #ffe11e, #ffa21e 30%, #ff841e);
  background-image: -webkit-linear-gradient(220deg, #ffe11e, #ffa21e 30%, #ff841e);
  background-image: linear-gradient(230deg, #ffe11e, #ffa21e 30%, #ff841e);
}
.tag:active {
  border: 1px solid #f6b968;
  border-top-color: #fddb00;
  border-bottom-color: #ed7805;
  border-right: none;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
  box-shadow: 0 1px 1px rgba(0,0,0,.09), inset 0 1px 4px rgba(41,40,37,.61);
}
.tag:active:after {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(-140deg, #ffe11e, #ff991e);
  background-image: -webkit-linear-gradient(220deg, #ffe11e, #ff991e);
  background-image: linear-gradient(230deg, #ffe11e, #ff991e);
  border-right: 1px solid #fddb00;
  border-bottom: #ed7805;
  box-shadow: inset -1px 0px 0px rgba(41,40,37,.61), inset 0px -1px 0px rgba(41,40,37,.41);
}
/* -----------------------------------------------------------------------------
	Switcher
----------------------------------------------------------------------------- */
.switcher.type_1 .switcher_inner_2 {
  background: #f5bd08;
}
.switcher.type_1 .switcher_outside_label:hover {
  color: #ffbf03;
}
.switcher.type_1 .switcher_outside_label:hover:before {
  border-color: #ffbf03;
}
.switcher.type_1.state_1 .switcher_outside_label.label_state_1:before {
  border-color: #ffbf03;
  background-color: #ffad1e;
}
.switcher.type_1.state_2 .switcher_outside_label.label_state_2:before {
  border-color: #ffbf03;
  background-color: #ffad1e;
}
.switcher.type_2 .switcher_inner_2 {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmRiMjYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2YTMxZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffdb26 0%, #f6a31d 100%);
  background-image: linear-gradient(to bottom, #ffdb26 0%, #f6a31d 100%);
}
.switcher.type_2 .switcher_state:after {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjZTc2MTAiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkY2ExYiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ce7610 0%, #edca1b 100%);
  background-image: linear-gradient(to bottom, #ce7610 0%, #edca1b 100%);
}
.switcher.type_2 .switcher_outside_label:hover {
  color: #ffbf03;
}
.switcher.type_2 .switcher_outside_label:hover:before {
  border-color: #ffbf03;
}
.switcher.type_2.state_1 .switcher_outside_label.label_state_1:before {
  border-color: #ffbf03;
  background-color: #ffad1e;
}
.switcher.type_2.state_2 .switcher_outside_label.label_state_2:before {
  border-color: #ffbf03;
  background-color: #ffad1e;
}
/* -----------------------------------------------------------------------------
	Search Form Tabs
----------------------------------------------------------------------------- */
.seach_form__tabs_list .seach_form__tabs_item .icon {
  color: #ffbd1e;
}
.seach_form__tabs_list .seach_form__tabs_item:hover a,
.seach_form__tabs_list .seach_form__tabs_item.active a,
.seach_form__tabs_list .seach_form__tabs_item:hover a:hover,
.seach_form__tabs_list .seach_form__tabs_item.active a:hover,
.seach_form__tabs_list .seach_form__tabs_item:hover a:focus,
.seach_form__tabs_list .seach_form__tabs_item.active a:focus {
  color: #000;
  border-color: #f6b968;
  border-top-color: #fddb00;
  border-bottom-color: #ed7805;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
  text-shadow: 0 1px #ffe252;
  box-shadow: inset 0 1px #fff1af;
}
/* -----------------------------------------------------------------------------
	Goods List
----------------------------------------------------------------------------- */
/* Views */
.goods_list {
  /* Grid View */
  /* List View */
}
.goods_list.grid_view .goods_item__title a {
  color: #4093d8;
  border-bottom-color: rgba(64, 147, 216, 0.5);
}
.goods_list.grid_view .goods_item__title a:hover {
  border-bottom-color: transparent;
}
.goods_list.grid_view .goods_item:hover .goods_item__inner {
  border-color: #ffbd1e;
}
.goods_list.list_view .goods_item:hover {
  border-color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Order Form
----------------------------------------------------------------------------- */
.basket_order_form .basket_order__main a:hover {
  color: #ffbd1e;
  border-bottom-color: rgba(255, 189, 30, 0.5);
}
/* -----------------------------------------------------------------------------
	Banners Rotator 
----------------------------------------------------------------------------- */
.banners_rotator .banners_rotator__inner__head .shop_name {
  background: #ffd51e;
}
.banners_rotator .dot.active:before,
.banners_rotator .dot:hover:before {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUwMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe01e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe01e 0%, #ff991e 100%);
}
/* -----------------------------------------------------------------------------
	Contacts
----------------------------------------------------------------------------- */
.contacts_block a .contacts__icon:before,
.contacts_block .address .contacts__icon:before {
  color: #ffbd1e;
}
.contacts_block a:hover,
.contacts_block .address:hover {
  color: #ffbd1e;
}
.contacts_block .phone:hover {
  border-bottom-color: #ffbd1e;
}
.contacts_block .address .contacts__icon {
  color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Share Buttons
----------------------------------------------------------------------------- */
.page_footer__share_item,
.page_footer__share_item:hover {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUyMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe21e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe21e 0%, #ff991e 100%);
}
/* -----------------------------------------------------------------------------
	Goods List Categories
----------------------------------------------------------------------------- */
.goods_list__categories_item__link .inner {
  border-bottom: 1px solid rgba(24, 118, 224, 0.5);
}
.goods_list__categories_item__link:hover {
  color: #ffbd1e;
}
.goods_list__categories_item__link:hover .inner {
  border-bottom: 1px solid rgba(255, 189, 30, 0.5);
}
.goods_list__categories_item__link.active .inner {
  border: none;
}
.goods_list__categories_item__link.active .icon {
  color: #ffbd1e;
  border: none;
}
/* -----------------------------------------------------------------------------
	Sidebar Navigation
----------------------------------------------------------------------------- */
.page_aside__nav_list > li > a:hover {
  color: #ffbd1e;
}
.page_aside__nav_list > li > a:hover .icon {
  color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Action Links
----------------------------------------------------------------------------- */
.put_off_link {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px dashed;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  padding: 23px 0 0;
  line-height: 1.1;
}
.put_off_link .icon {
  font-size: 19px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.put_off_link:hover {
  color: #ffbd1e;
}
.delete_link:hover,
.compare_link:hover,
.favourite_link:hover,
.inform_link:hover,
.complain_link:hover {
  color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Compare Block
----------------------------------------------------------------------------- */
.compare_block .compare_type__item:hover {
  color: #ffbd1e;
}
.compare_block .goods_item_delete:hover {
  color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	 Popup Buy
----------------------------------------------------------------------------- */
.popup_buy .popup_buy__head__make_order .continue:hover {
  color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Basket
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
	Ordering
----------------------------------------------------------------------------- */
.ordering_block.step_1 .basket_order_form .basket_order__main .title a:hover {
  color: #ffbd1e;
  border-bottom-color: rgba(255, 189, 30, 0.5);
}
.ordering_block.step_1 .ordering_block__active {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
  border-color: #f6b968;
  border-top-color: #fddb00;
  border-bottom-color: #ed7805;
}
.ordering_block.step_1 .ordering_block__inactive:hover {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmUxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffe11e 0%, #ff991e 100%);
  background-image: linear-gradient(to bottom, #ffe11e 0%, #ff991e 100%);
  border-color: #f6b968;
  border-top-color: #fddb00;
  border-bottom-color: #ed7805;
}
.ordering_block.step_3 .ordering_block__inner_head .collapse_info:hover {
  color: #ffbd1e;
}
.ordering_block.step_3 .ordering_block__features .item .icon_wrapper:hover {
  border-color: #ffbd1e;
}
.ordering_block.step_3 .ordering_block__features .item .jq-radio.checked + .icon_wrapper {
  border: 3px solid #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Profile Settings
----------------------------------------------------------------------------- */
.profile_content .add_item:hover {
  color: #ffbd1e;
  border-bottom-color: #ffbd1e;
}
.profile_content .delete_item:hover {
  color: #ffbd1e;
  border-bottom-color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	404
----------------------------------------------------------------------------- */
.error_404:before {
  background: url('../../images/i/404_yellow.png') no-repeat;
}
/* -----------------------------------------------------------------------------
	Gallery
----------------------------------------------------------------------------- */
.item_gallery__tumbs .item.active,
.item_gallery__tumbs .item:hover {
  border-color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	Sitemap
----------------------------------------------------------------------------- */
.sitemap_list a:hover .icon {
  color: #ffbd1e;
}
/* -----------------------------------------------------------------------------
	City Selection
----------------------------------------------------------------------------- */
.popup_city_selection__list li span:hover {
  color: #ffbd1e;
  border-bottom-color: #ffbd1e;
  border-bottom-color: rgba(255, 189, 30, 0.5);
}
/* -----------------------------------------------------------------------------
	Brands List
----------------------------------------------------------------------------- */
.main_content__brands_item__inner:hover {
  box-shadow: 0 0 5px #ffbd1e;
}
/* -----------------------------------------------------------------------------
	@section 9.3.27. Profile Nav
----------------------------------------------------------------------------- */
.profile_nav a:hover {
  border-bottom-color: #ffbd1e;
  border-bottom-color: rgba(255, 189, 30, 0.5);
}
@media (max-width: 991px) {
  .page_header__nav .navbar-default {
    border-bottom: 2px solid #ffbd1e;
  }
  .page_header__nav .navbar-default .navbar-nav > li a:hover {
    color: #ffbd1e;
  }
}
.item_modifications tbody > tr:hover {
  background: rgba(255, 189, 30, 0.25);
}
.countdown-block .already-sold .already-sold-track .bar {
  background-color: #f5bd08;
}
.mm-more__content {
  background: #fcc04a;
}
.page_header__nav {
  color: red;
  background: red;
}
/* -----------------------------------------------------------------------------
	Settings Button
----------------------------------------------------------------------------- */
