/*============= popup ==========*/
div[id^="CatalogSetConstructor_"] .modal-dialog {
	width: 800px;
	/*max-width: 900px;
	min-width: 500px;*/
}

div[id^="CatalogSetConstructor_"] .modal-container {
	min-height: 100px;
}

div[id^="CatalogSetConstructor_"] .modal-dialog {
	padding:       10px 30px;
	border-radius: 5px;
}

div[id^="CatalogSetConstructor_"] h3 {
	font-weight: bold;
	text-align:  left;
}

div[id^="CatalogSetConstructor_"] .bx_modal_description {
	color:     #919191;
	font-size: 12px;
	display:   block;
}

div[id^="CatalogSetConstructor_"] .bx_modal_body {
}

div[id^="CatalogSetConstructor_"] .bx_kit_one_section {
	margin-top:     20px;
	padding-bottom: 20px;
	border-bottom:  1px solid #ededed;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item,
.bx_kit_drag_n_drop .bx_kit_item {
	position:           relative;
	float:              left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	width:              16%;
	height:             270px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_border,
.bx_kit_drag_n_drop .bx_kit_item_border {
	border:        1px solid #c9c9c9;
	border-radius: 8px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_children,
.bx_kit_drag_n_drop .bx_kit_item_children {
	padding:            5px;
	background:         #fff;
	height:             100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

div[id^="CatalogSetConstructor_"] .discount .bx_kit_item_children,
.bx_kit_drag_n_drop .discount .bx_kit_item_children {
	position:   relative;
	z-index:    113;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.4);
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_border:hover {
	border: 1px solid #9a9a9a
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_empty {
	background: #f7f7f7
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_plus {
	float:      left;
	width:      5%;
	height:     280px;
	background: url(images/plus.png) no-repeat center;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_equally {
	float:      left;
	width:      5%;
	height:     280px;
	background: url(images/equally.png) no-repeat center;
}

div[id^="CatalogSetConstructor_"] .bx_kit_img_container,
.bx_kit_drag_n_drop .bx_kit_img_container {
	position:                relative;
	overflow:                hidden;
	margin-bottom:           5px;
	width:                   100%;
	height:                  180px;
	border-radius:           8px;
	background-position:     center;
	-webkit-background-size: 100% auto;
	background-size:         100% auto;
	background-repeat:       no-repeat;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_del,
.bx_kit_drag_n_drop .bx_kit_item_del {
	display: none
}

.bx-touch div[id^="CatalogSetConstructor_"] .bx_kit_item_del,
div[id^="CatalogSetConstructor_"] .bx_kit_item:hover .bx_kit_item_del {
	position:                absolute;
	top:                     -10px;
	right:                   -10px;
	display:                 block;
	width:                   27px;
	height:                  27px;
	background:              url(images/del_item.png) no-repeat center;
	-webkit-background-size: 27px;
	background-size:         27px;
	cursor:                  pointer;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_articul,
.bx_kit_drag_n_drop .bx_kit_item_articul {
	overflow:  hidden;
	height:    16px;
	color:     #a5a5a5;
	font-size: 13px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_title,
.bx_kit_drag_n_drop .bx_kit_item_title {
	overflow: hidden;
	height:   39px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_price,
.bx_kit_drag_n_drop .bx_kit_item_price {
	color:       #3f3f3f;
	font-weight: bold;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_price .bx_price,
.bx_kit_drag_n_drop .bx_kit_item_price .bx_price {
	font-size: 15px
}

div[id^="CatalogSetConstructor_"] .bx_kit_result {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	padding-top:        20px;
	width:              100%;
	height:             100%;
	text-align:         center;
}

div[id^="CatalogSetConstructor_"] .bx_kit_result.not_sale {
	padding-top: 62px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_result_one {
	margin-bottom: 10px;
	padding:       3px;
	color:         #737373;
	text-align:    center;
	font-size:     14px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_result_one strong {
	text-decoration: line-through;
	font-weight:     bold;
	font-size:       15px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_result_two {
	margin-bottom: 10px;
	padding:       3px;
	background:    #f3f5f4;
	color:         #000;
	text-align:    center;
	font-size:     18px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_result_two strong {
	font-weight: bold;
	font-size:   18px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_result_tre {
	margin-bottom: 10px;
	padding:       3px;
	color:         #b02727;
	text-align:    center;
	font-size:     18px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_result_tre strong {
	font-weight: bold;
	font-size:   18px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_two_section {
	position:   relative;
	overflow:   hidden;
	margin-top: 15px;
	padding:    0 30px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_two_section_ova {
	position:       relative;
	overflow:       hidden;
	padding-top:    10px;
	padding-bottom: 30px;
	width:          100%;
}

.bx-touch div[id^="CatalogSetConstructor_"] .bx_kit_two_section_ova {
	overflow-x: auto
}

div[id^="CatalogSetConstructor_"] .bx_kit_two_item_slider {
	position: relative
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_slider,
.bx_kit_drag_n_drop .bx_kit_item_slider {
	position:           relative;
	float:              left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	padding:            0 10px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_add,
.bx_kit_drag_n_drop .bx_kit_item_add {
	display: none
}

.bx-touch div[id^="CatalogSetConstructor_"] .bx_kit_item_add,
div[id^="CatalogSetConstructor_"] .bx_kit_item_slider:hover .bx_kit_item_add {
	position:                absolute;
	top:                     -10px;
	right:                   -10px;
	display:                 block;
	width:                   27px;
	height:                  27px;
	background:              url(images/add_item.png) no-repeat center;
	-webkit-background-size: 27px;
	background-size:         27px;
	cursor:                  pointer;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_slider .bx_kit_item,
.bx_kit_drag_n_drop .bx_kit_item_slider .bx_kit_item {
	z-index:        112;
	padding-bottom: 40px;
	width:          100%;
	background:     #fff;
	padding:        5px;
}

.bx_kit_drag_n_drop .bx_kit_item {
	width: 100%;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_slider_drag,
.bx_kit_drag_n_drop .bx_kit_item_slider_drag {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	box-shadow:         0 0 18px 0 rgba(0, 0, 0, .15);
	background-color:   white;
	position:           relative;
	z-index:            115;
	padding:            5px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_slider .bx_kit_item.discount {
	position:   relative;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.4)
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_slider_arrow_left,
div[id^="CatalogSetConstructor_"] .bx_kit_item_slider_arrow_right {
	position: absolute;
	top:      0;
	bottom:   0;
	width:    50px;
	height:   280px;
	cursor:   pointer;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_slider_arrow_left {
	left: 0px;
}

div[id^="CatalogSetConstructor_"] .bx_kit_item_slider_arrow_right {
	right: 0px;
}

.bx-no-touch div[id^="CatalogSetConstructor_"] .bx_kit_item_slider_arrow_left {
	z-index:    113;
	background: url(images/arr_left.png) no-repeat center
}

.bx-no-touch div[id^="CatalogSetConstructor_"] .bx_kit_item_slider_arrow_right {
	z-index:    113;
	background: url(images/arr_right.png) no-repeat center
}

.bx-no-touch.bx-ie8 div[id^="CatalogSetConstructor_"] .bx_kit_item_slider_arrow_left {
	z-index:    113;
	background: url(images/arr_left.png) no-repeat center
}

.bx-no-touch.bx-ie8 div[id^="CatalogSetConstructor_"] .bx_kit_item_slider_arrow_right {
	z-index:    113;
	background: url(images/arr_right.png) no-repeat center
}

div[id^="CatalogSetConstructor_"] .bx_bt_button.bx_medium {
	padding:     0 9px;
	height:      36px;
	line-height: 36px;
}

div[id^="CatalogSetConstructor_"] .bx_bt_button.bx_medium span {
	display:        inline-block;
	height:         36px;
	vertical-align: middle;
	font-size:      13px;
	line-height:    36px;
}

div[id^="CatalogSetConstructor_"] .bx_bt_button.bx_medium .bx_icon_cart {
	margin-right:            3px;
	width:                   23px;
	height:                  36px;
	-webkit-background-size: 100% auto;
	background-size:         100% auto;
	line-height:             36px;
}

@media (min-width: 850px) {
	div[id^="CatalogSetConstructor_"] .bx_bt_button.bx_medium {
		padding: 0 17px
	}

	div[id^="CatalogSetConstructor_"] .bx_bt_button.bx_medium .bx_icon_cart {
		margin-right: 10px;
		width:        26px;
	}
}

@media (max-width: 810px) {
	div[id^="CatalogSetConstructor_"] {
		background:    #fff;
		border-radius: 8px;
	}

	div[id^="CatalogSetConstructor_"].bx_kit {
		width: 680px
	}
}

@media (max-width: 700px) {
	div[id^="CatalogSetConstructor_"].bx_kit {
		width: auto
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_two_section {
		padding: 0
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_item {
		height: 175px
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_item_plus,
	div[id^="CatalogSetConstructor_"] .bx_kit_item_equally {
		height:                  175px;
		-webkit-background-size: 10px;
		background-size:         10px;
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_item_articul {
		display: none
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_item_title {
		overflow:    hidden;
		height:      39px;
		line-height: 11px;
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_item_title a {
		font-size:   11px;
		line-height: 11px;
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_item_price .bx_price {
		font-size: 11px
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_result {
		padding-top: 0
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_result.not_sale {
		padding-top: 31px;
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_result_one,
	div[id^="CatalogSetConstructor_"] .bx_kit_result_two,
	div[id^="CatalogSetConstructor_"] .bx_kit_result_tre {
		margin-bottom: 5px;
		font-size:     10px;
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_result_one strong,
	div[id^="CatalogSetConstructor_"] .bx_kit_result_two strong,
	div[id^="CatalogSetConstructor_"] .bx_kit_result_tre strong {
		font-size: 12px
	}

	div[id^="CatalogSetConstructor_"] .bx_bt_button.bx_medium span {
		font-size: 14px
	}

	div[id^="CatalogSetConstructor_"] .bx_bt_button.bx_medium .bx_icon_cart {
		display: none
	}

	div[id^="CatalogSetConstructor_"] .bx_kit_img_container {
		height: 100px
	}
}

@media (max-height: 770px) {
	div[id^="CatalogSetConstructor_"].bx_kit {
		margin-top: 0
	}

}

@media (max-width: 580px) {
	.bx_item_set_popup,
	.bx-touch div[id^="CatalogSetConstructor_"] .bx_kitdiv[id^="CatalogSetConstructor_"] {
		display: none !important
	}
}

/*Cart button*/
div[id^="CatalogSetConstructor_"] .bx_bt_button {
	display:         inline-block;
	border-radius:   3px;
	text-align:      center;
	text-decoration: none;
	font-size:       14px;
	cursor:          pointer;
}

.bx-touch div[id^="CatalogSetConstructor_"] .bx_bt_button {
	font-size: 12px
}

div[id^="CatalogSetConstructor_"] .shadow.bx_bt_button {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

div[id^="CatalogSetConstructor_"] .shadow.bx_bt_button:active {
	box-shadow: none
}

div[id^="CatalogSetConstructor_"] .big.bx_bt_button {
	padding:     0 13px;
	height:      36px;
	line-height: 36px;
	font-weight: bold;
}

.bx-touch div[id^="CatalogSetConstructor_"] .big.bx_bt_button {
	padding:        0 12px;
	height:         24px;
	line-height:    24px;
	font-weight:    bold;
	margin-top:     -12px;
	vertical-align: middle;
}

div[id^="CatalogSetConstructor_"] .big.bx_bt_button:hover {
}

div[id^="CatalogSetConstructor_"] .big.bx_bt_button:active {
}

div[id^="CatalogSetConstructor_"] .big.bx_bt_button.cart span {
	position:                relative;
	bottom:                  -7px;
	display:                 inline-block;
	margin:                  0 10px 0 0;
	width:                   26px;
	height:                  23px;
	-webkit-background-size: contain !important;
	background-size:         contain !important;
}

.bx-touch div[id^="CatalogSetConstructor_"] .big.bx_bt_button.cart span {
	bottom:         0;
	margin:         0 10px 0 0;
	width:          20px;
	height:         24px;
	vertical-align: middle;
}

@media (max-width: 800px) {
	div[id^="CatalogSetConstructor_"] .big.bx_bt_button.cart span {
		display: none
	}
}

@media (max-width: 640px) {
	div[id^="CatalogSetConstructor_"] .big.bx_bt_button.cart span {
		display: block;
		margin:  0 !important;
	}

	div[id^="CatalogSetConstructor_"] .big.bx_bt_button.cart strong {
		display: none
	}
}

.bx_kit_drag_n_drop .bx_kit_item_title, div[id^="CatalogSetConstructor_"] .bx_kit_item_title {
	text-align: center;
}

.bx_kit_drag_n_drop .bx_kit_item_price, div[id^="CatalogSetConstructor_"] .bx_kit_item_price {
	text-align:  center;
	line-height: normal;
}

.bx_kit_drag_n_drop .bx_kit_item_price > *, div[id^="CatalogSetConstructor_"] .bx_kit_item_price > * {
	display: inline;
}