div.beono-flashmessage {
	position:                          absolute;
	position:                          fixed;
	z-index:                           9999;
	bottom:                            -5px;
	left:                              50%;
	width:                             440px;
	margin:                            0px 0 0px -245px;
	padding:                           15px 25px 15px 20px;
	border:                            2px solid #ffe000;
	border-radius:                     6px;
	background:                        #fff500;
	box-shadow:                        0px 0px 100px rgba(0, 0, 0, 0.5);
	font-size:                         13px;
	color:                             #000;
	-webkit-animation-duration:        0.5s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-name:            slideIn;
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%));
	}
}

a.beono-flashmessage-close,
a.beono-flashmessage-close:link,
a.beono-flashmessage-close:visited,
a.beono-flashmessage-close:active {
	border-bottom:   none;
	display:         block;
	position:        absolute;
	right:           8px;
	top:             16px;
	font-size:       16px;
	line-height:     16px;
	text-decoration: none;
	font-weight:     bold;
	color:           #666;
	font-family:     Verdana, Arial, Helvetica, sans-serif
}

a.beono-flashmessage-close:hover {
	color: #444;
}