.RzStore {
	> * {
		height: auto !important;
		line-height: normal !important;
	}
	padding: 5px 3px;
	display: inline-block;
}

.RzStore__popupInline {
	margin-bottom: 5px;
	.RzStore__indicator {
		display: inline-block;
	}
}
.RzStore__item {
	margin-top: 5px;
	&.inline {
		display: inline-block;
	}
}
.RzStore__popupBody {
	display: none;
}
.RzStore__imgWrapper {
	padding: 10px 0;
}
.RzStore__popupUrl {
	cursor: pointer;
	border-bottom: 1px dotted;
	-webkit-transition-property: border-color;
	transition-property: border-color;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	&:hover {
		border-color: transparent;
	}
	> .RzStore__indicator {
		margin-left: 0;
		margin-bottom: 1px;
	}
}
.RzStore__indicator {
	position:  relative;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 5px;
	&.text {
		> span {
			padding: 1px 2px;
		}
	}
	&.cols {
		font-size: 0;
		width:     16px;
		height:    17px;
		.many {
			position: absolute;
			width:    4px;
			bottom:   0;
			height:   17px;
			left:     12px
		}
		.average {
			height: 13px;
			left:   6px
		}
		.few {
			height: 8px;
			left:   0
		}
	}

}