.RzStore {
  padding: 5px 3px;
  display: inline-block;
}
.RzStore > * {
  height: auto !important;
  line-height: normal !important;
}
.RzStore__popupInline {
  margin-bottom: 5px;
}
.RzStore__popupInline .RzStore__indicator {
  display: inline-block;
}
.RzStore__item {
  margin-top: 5px;
}
.RzStore__item.inline {
  display: inline-block;
}
.RzStore__popupBody {
  display: none;
}
.RzStore__imgWrapper {
  padding: 10px 0;
}
.RzStore__popupUrl {
  cursor: pointer;
  border-bottom: 1px dotted;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.RzStore__popupUrl:hover {
  border-color: transparent;
}
.RzStore__popupUrl > .RzStore__indicator {
  margin-left: 0;
  margin-bottom: 1px;
}
.RzStore__indicator {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
}
.RzStore__indicator.text > span {
  padding: 1px 2px;
}
.RzStore__indicator.cols {
  font-size: 0;
  width: 16px;
  height: 17px;
}
.RzStore__indicator.cols .many {
  position: absolute;
  width: 4px;
  bottom: 0;
  height: 17px;
  left: 12px;
}
.RzStore__indicator.cols .average {
  height: 13px;
  left: 6px;
}
.RzStore__indicator.cols .few {
  height: 8px;
  left: 0;
}
