@font-face{
	font-family: 'WebSymbols';
	src: url('websymbolsligaregular.eot');
	src: url('websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
				 url('websymbolsligaregular.woff') format('woff'),
				 url('websymbolsligaregular.ttf') format('truetype'),
				 url('websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}