#ys-locator {
	z-index: 1100 !important;
}

#ys-geoip-mask {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    /*z-index: 100 !important;*/
    top: 0 !important;
    left: 0 !important;
    background: url("images/mask.png") top left repeat !important;
    display: none;
}

.ys-geoip-mask{
	z-index: 1000;
}

.ys-loc-cities {
	margin-top: 20px !important;
}

.ys-loc-choose {
	margin-top: 25px !important;
}

.ys-loc-choose-country, .ys-loc-choose-region, .ys-loc-choose-city {
	margin: 5px 0 15px 0 !important;
}

.ys-loc-choose-region {
	display: none !important;
}

.ys-loc-autocomplete {
	position: absolute !important;
	display: none;
	width: 350px !important;
	max-height: 400px !important;
	overflow: auto !important;
	z-index: 1200 !important;
	background: white !important;
	border: 1px solid #aaa !important;
	border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	box-shadow: 0 1px 2px #777 !important;
}

.ys-loc-autocomplete div {
	line-height: 14px !important;
	padding: 3px 5px !important;
	cursor: pointer !important;
	font-size: 14px !important;
}

.ys-loc-autocomplete div strong {
	/* font-weight: normal; */
	color: red !important;
}

.ys-loc-autoc-selected {
	background: #e0e0e0 !important;
}

.ys-your-city  .sym {
	color: red !important;
}

a.ys-loc-city {
	border-bottom: 1px dashed !important;
	text-decoration: none !important;
}