@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-2x2:before {
	content: "\e000";
}
.flaticon-3x3:before {
	content: "\e001";
}
.flaticon-arrow133:before {
	content: "\e002";
}
.flaticon-arrow215:before {
	content: "\e003";
}
.flaticon-arrow222:before {
	content: "\e004";
}
.flaticon-arrow65:before {
	content: "\e005";
}
.flaticon-arrow85:before {
	content: "\e006";
}
.flaticon-arrow97:before {
	content: "\e007";
}
.flaticon-black13:before {
	content: "\e008";
}
.flaticon-car48:before {
	content: "\e009";
}
.flaticon-check34:before {
	content: "\e00a";
}
.flaticon-clear3:before {
	content: "\e00b";
}
.flaticon-closed40:before {
	content: "\e00c";
}
.flaticon-cloudy1:before {
	content: "\e00d";
}
.flaticon-comment2:before {
	content: "\e00e";
}
.flaticon-delete30:before {
	content: "\e00f";
}
.flaticon-email20:before {
	content: "\e010";
}
.flaticon-eye63:before {
	content: "\e011";
}
.flaticon-gear:before {
	content: "\e012";
}
.flaticon-home39:before {
	content: "\e013";
}
.flaticon-incoming1:before {
	content: "\e014";
}
.flaticon-incoming4:before {
	content: "\e015";
}
.flaticon-instagram:before {
	content: "\e016";
}
.flaticon-ipad6:before {
	content: "\e017";
}
.flaticon-justified:before {
	content: "\e018";
}
.flaticon-list2:before {
	content: "\e019";
}
.flaticon-list27:before {
	content: "\e01a";
}
.flaticon-list41:before {
	content: "\e01b";
}
.flaticon-little16:before {
	content: "\e01c";
}
.flaticon-location4:before {
	content: "\e01d";
}
.flaticon-magnifying42:before {
	content: "\e01e";
}
.flaticon-measuring7:before {
	content: "\e01f";
}
.flaticon-menu29:before {
	content: "\e020";
}
.flaticon-mobile53:before {
	content: "\e021";
}
.flaticon-new6:before {
	content: "\e022";
}
.flaticon-oil2:before {
	content: "\e023";
}
.flaticon-paragraph14:before {
	content: "\e024";
}
.flaticon-phone12:before {
	content: "\e025";
}
.flaticon-right20:before {
	content: "\e026";
}
.flaticon-screw5:before {
	content: "\e027";
}
.flaticon-search19:before {
	content: "\e028";
}
.flaticon-shopping16:before {
	content: "\e029";
}
.flaticon-snowflake:before {
	content: "\e02a";
}
.flaticon-social38:before {
	content: "\e02b";
}
.flaticon-tablet5:before {
	content: "\e02c";
}
.flaticon-vehicle3:before {
	content: "\e02d";
}
.flaticon-view2:before {
	content: "\e02e";
}
.flaticon-wheel4:before {
	content: "\e02f";
}
.flaticon-youtube26:before {
	content: "\e030";
}
