.btn-primary {
  color: #fff;
  background-color: #e12021;
  border-color: #e12021;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.pagination > li > a.current,
#modal-basket .btn-cart {
  color: #fff;
  background-color: #b61819;
  border-color: #ad1718;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.pagination > li > a.current {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] #modal-basket .btn-cart {
  background-color: #e12021;
  border-color: #e12021;
}
.btn-primary .badge {
  color: #e12021;
  background-color: #fff;
}
.page_header__nav .navbar-default .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0px 1px 0px #000000;
}
@media (max-width: 767px) {
  .page_header__nav .navbar-default .navbar-nav > li > a {
    color: #000;
  }
}
.page_header__nav .navbar-default .navbar-nav > li:hover > a {
  color: #000;
}
.tag {
  color: #fff;
  text-shadow: 0px 1px 0px #000000;
}
.brand-primary-color {
  color: #e12021;
}
a.brand-primary-color {
  border-color: rgba(225, 32, 33, 0.5);
}
a.brand-primary-color:hover {
  color: #e12021;
}
/* -----------------------------------------------------------------------------
	Icons
----------------------------------------------------------------------------- */
.sets_icon {
  background-image: url(../../images/icons/settings/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sets_icon.sets_icon-blue_1 {
  background-position: 0 0;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_2 {
  background-position: 0 -63px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_3 {
  background-position: 0 -126px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_4 {
  background-position: 0 -189px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_5 {
  background-position: 0 -252px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-blue_6 {
  background-position: 0 -315px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_1 {
  background-position: 0 -378px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_2 {
  background-position: 0 -441px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_3 {
  background-position: 0 -504px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_4 {
  background-position: 0 -567px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_5 {
  background-position: 0 -630px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-green_6 {
  background-position: 0 -693px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_1,
.settings_button {
  background-position: 0 -756px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_2,
.settings_button:hover {
  background-position: 0 -819px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_3,
.settings_button:active {
  background-position: 0 -882px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_4,
.popup_color_scheme .submit_settings {
  background-position: 0 -945px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_5,
.popup_color_scheme .submit_settings:hover {
  background-position: 0 -1008px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-red_6,
.popup_color_scheme .submit_settings:active {
  background-position: 0 -1071px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_1 {
  background-position: 0 -1134px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_2 {
  background-position: 0 -1197px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_3 {
  background-position: 0 -1260px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_4 {
  background-position: 0 -1323px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_5 {
  background-position: 0 -1386px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-violet_6 {
  background-position: 0 -1449px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_1 {
  background-position: 0 -1512px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_2 {
  background-position: 0 -1575px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_3 {
  background-position: 0 -1638px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_4 {
  background-position: 0 -1701px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_5 {
  background-position: 0 -1764px;
  width: 53px;
  height: 63px;
}
.sets_icon.sets_icon-yellow_6 {
  background-position: 0 -1827px;
  width: 53px;
  height: 63px;
}
/* -----------------------------------------------------------------------------
	Plugins
----------------------------------------------------------------------------- */
/* Formstyler */
.jq-checkbox.checked .jq-checkbox__div:before {
  color: #c63032;
}
.jq-radio:hover {
  border-color: #e17374;
  border-top-color: #ff4a4a;
  border-bottom-color: #9a3538;
}
.jq-radio.checked {
  border-color: #d64a4b;
  border-top-color: #ff4646;
  border-bottom-color: #922124;
}
.jq-radio.checked .jq-radio__div {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1ZTFiMWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhMzkzOSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #5e1b1e 0%, #da3939 100%);
  background-image: linear-gradient(to bottom, #5e1b1e 0%, #da3939 100%);
  box-shadow: inset 0 1px 1px #9e0e12;
}
.forms-wrapper:hover .jq-radio,
label.forms-wrapper:hover .jq-radio {
  border-color: #e17374;
  border-top-color: #ff4a4a;
  border-bottom-color: #9a3538;
}
.category-select li:hover {
  color: #ff2f30;
}
/* NoUiSlider */
.noUi-horizontal.range_slider .noUi-connect {
  border-top-color: #c52b2a;
  border-bottom-color: #ab2924;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNDNlM2YiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E5MjUyOCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #f43e3f 0%, #a92528 100%);
  background-image: linear-gradient(to bottom, #f43e3f 0%, #a92528 100%);
}
.noUi-horizontal.range_slider .noUi-handle:hover:after {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1NjE1MTciIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwMzgzOSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #561517 0%, #e03839 100%);
  background-image: linear-gradient(to bottom, #561517 0%, #e03839 100%);
}
.noUi-horizontal.range_slider.noUi-state-drag .noUi-handle:hover {
  border-color: #9f2225;
  border-top-color: #8d2225;
  border-bottom-color: #d83839;
}
.noUi-horizontal.range_slider.noUi-state-drag .noUi-handle:hover .tooltip {
  border-color: #d53435;
}
.noUi-horizontal.range_slider.noUi-state-drag .noUi-handle:hover .tooltip:after {
  border-color: #d53435;
}
.noUi-horizontal.range_slider.single .noUi-base {
  border-top-color: #c52b2a;
  border-bottom-color: #ab2924;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNDNlM2YiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E5MjUyOCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #f43e3f 0%, #a92528 100%);
  background-image: linear-gradient(to bottom, #f43e3f 0%, #a92528 100%);
}
/* -----------------------------------------------------------------------------
	Bootstrap
----------------------------------------------------------------------------- */
/* Scafolding */
a {
  text-decoration: none;
  border-bottom: 1px solid rgba(23, 123, 233, 0.5);
}
a:hover {
  color: #ff2f30;
  border-bottom: 1px solid rgba(255, 47, 48, 0.5);
}
/* Breadcrumbs */
.breadcrumb a:hover {
  color: #ff2f30;
  border-bottom-color: rgba(255, 47, 48, 0.5);
}
/* Buttons */
.btn [class^="flaticon-"]:before,
.btn [class*=" flaticon-"]:before,
.btn [class^="flaticon-"]:after,
.btn [class*=" flaticon-"]:after,
.btn .icon,
.btn .icon:before {
  color: #e12021;
}
.btn-primary {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
  border-color: #b72a27;
  border-top-color: #c72b2b;
  border-bottom-color: #a62923;
  text-shadow: 0 1px #000000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
#modal-basket .btn-cart {
  border: 1px solid #b72a27;
  border-top-color: #c72b2b;
  border-bottom-color: #a62923;
  background-repeat: no-repeat;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#fd4142, #cd1a1b 30%, #641013);
  background-image: linear-gradient(#fd4142, #cd1a1b 30%, #641013);
}
.btn-primary:active,
.pagination > li > a.current {
  border: 1px solid #b72a27;
  border-top-color: #c72b2b;
  border-bottom-color: #a62923;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
}
.btn-group-auth .btn:hover {
  color: #fff;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
  border-color: #b72a27;
  border-top-color: #c72b2b;
  border-bottom-color: #a62923;
  text-shadow: 0 1px #000000;
}
.btn-group-auth .btn:hover span[class^="flaticon-"]:before,
.btn-group-auth .btn:hover .icon,
.btn-group-auth .btn:hover .icon:before {
  color: #fff;
}
.btn-cart .badge,
.btn.btn-cart .badge {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYTQyNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhmMWMyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fa4242 0%, #8f1c20 100%);
  background-image: linear-gradient(to bottom, #fa4242 0%, #8f1c20 100%);
}
.btn-arrow,
.btn.btn-arrow,
.pagination > li > a.prev,
.btn.pagination > li > a.prev,
.pagination > li > a.next,
.btn.pagination > li > a.next {
  color: #cb3132;
  text-shadow: 0 1px #030304;
}
.btn-arrow:hover,
.btn.btn-arrow:hover,
.btn-arrow:active,
.btn.btn-arrow:active,
.pagination > li > a.prev:hover,
.btn.pagination > li > a.prev:hover,
.pagination > li > a.prev:active,
.btn.pagination > li > a.prev:active,
.pagination > li > a.next:hover,
.btn.pagination > li > a.next:hover,
.pagination > li > a.next:active,
.btn.pagination > li > a.next:active {
  color: #cb3132;
}
.btn-group-change-view button:hover .icon {
  color: #a10001;
}
.btn-group-change-view button:active .icon,
.btn-group-change-view button.active .icon {
  color: #a10001;
}
/* Show Tip */
.show_tip:hover,
.show_tip:focus:hover {
  color: #e12021;
}
/* Pagination */
.pagination > li > a.disabled,
.pagination > li > a.disabled:link,
.pagination > li > a.disabled:visited,
.pagination > li > a.disabled:hover,
.pagination > li > a.disabled:active {
  box-shadow: none;
  background: #fff !important;
  color: silver;
  border: 1px solid silver !important;
  cursor: default;
  pointer-evetns: none;
}
/* Forms */
* .form-control-small:focus,
.form-inline .form-control-small:focus {
  box-shadow: 0 0 1px 1px #c62f31;
}
.form-control:hover {
  border-color: #e12021;
}
/* -----------------------------------------------------------------------------
	Header
----------------------------------------------------------------------------- */
.page_header__top_line .info-navbar li > a:hover {
  color: #e12021;
}
.page_header__top_line .info-navbar li > a:hover .inner {
  border-bottom: 1px solid rgba(225, 32, 33, 0.5);
}
.page_header__top_line .user_authorized .icon,
.page_header__top_line .user_authorized a {
  color: #e12021;
}
.page_header__top_line .user_authorized .name {
  border-bottom-color: rgba(225, 32, 33, 0.5);
}
.page_header__nav {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
  border-top-color: #6d1400;
  border-bottom-color: #be3604;
}
.page_header__nav:before {
  background: #ff8383;
}
.page_header__nav .subnav:before {
  border-color: #b72a27;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
}
.page_header .navbar-toggle:before {
  color: #e12021;
}
/* -----------------------------------------------------------------------------
	Form Reset Button
----------------------------------------------------------------------------- */
.form_reset_button:hover {
  color: #ff2f30;
  border-bottom: 1px dashed rgba(255, 47, 48, 0.5);
}
/* -----------------------------------------------------------------------------
	City Selection
----------------------------------------------------------------------------- */
.city-selection .flaticon-location4 {
  color: #ff2c2d;
}
.city-selection:hover {
  color: #ff2c2d;
}
/* -----------------------------------------------------------------------------
	Delete icon
----------------------------------------------------------------------------- */
.flaticon-delete30:hover:before,
.close.flaticon:hover:before {
  color: #ff2f30;
}
.flaticon-delete30:active:before,
.close.flaticon:active:before {
  color: #a10001;
}
.flaticon-delete30:before,
.close.flaticon:before {
  -webkit-transition: color .3s;
          transition: color .3s;
}
.page_header__search_form__field_wrapper .flaticon-delete30:before,
.page_header__search_form__field_wrapper .close.flaticon:before {
  color: #fff;
}
.page_header__search_form__field_wrapper .flaticon-delete30:hover:before,
.page_header__search_form__field_wrapper .close.flaticon:hover:before {
  color: #ff2f30;
}
.page_header__search_form__field_wrapper .flaticon-delete30:active:before,
.page_header__search_form__field_wrapper .close.flaticon:active:before {
  color: #a10001;
  -webkit-transition: none;
          transition: none;
}
/* -----------------------------------------------------------------------------
	Tags
----------------------------------------------------------------------------- */
.tag {
  border-color: #b72a27;
  border-top-color: #c72b2b;
  border-bottom-color: #a62923;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
}
.tag:after {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(-140deg, #fd4142, #901d20);
  background-image: -webkit-linear-gradient(220deg, #fd4142, #901d20);
  background-image: linear-gradient(230deg, #fd4142, #901d20);
  border-right: 1px solid #c72b2b;
  border-bottom: #a62923;
}
.tag:hover {
  background-repeat: no-repeat;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#fd4142, #cd1a1b 30%, #641013);
  background-image: linear-gradient(#fd4142, #cd1a1b 30%, #641013);
}
.tag:hover:after {
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjY2QxYTFiIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NDEwMTMiIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-linear-gradient(-140deg, #fd4142, #cd1a1b 30%, #641013);
  background-image: -webkit-linear-gradient(220deg, #fd4142, #cd1a1b 30%, #641013);
  background-image: linear-gradient(230deg, #fd4142, #cd1a1b 30%, #641013);
}
.tag:active {
  border: 1px solid #b72a27;
  border-top-color: #c72b2b;
  border-bottom-color: #a62923;
  border-right: none;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
  box-shadow: 0 1px 1px rgba(0,0,0,.09), inset 0 1px 4px rgba(41,40,37,.61);
}
.tag:active:after {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(-140deg, #fd4142, #901d20);
  background-image: -webkit-linear-gradient(220deg, #fd4142, #901d20);
  background-image: linear-gradient(230deg, #fd4142, #901d20);
  border-right: 1px solid #c72b2b;
  border-bottom: #a62923;
  box-shadow: inset -1px 0px 0px rgba(41,40,37,.61), inset 0px -1px 0px rgba(41,40,37,.41);
}
/* -----------------------------------------------------------------------------
	Switcher
----------------------------------------------------------------------------- */
.switcher.type_1 .switcher_inner_2 {
  background: #e44041;
}
.switcher.type_1 .switcher_outside_label:hover {
  color: #f94040;
}
.switcher.type_1 .switcher_outside_label:hover:before {
  border-color: #f95b5b;
}
.switcher.type_1.state_1 .switcher_outside_label.label_state_1:before {
  border-color: #f95b5b;
  background-color: #dd3738;
}
.switcher.type_1.state_2 .switcher_outside_label.label_state_2:before {
  border-color: #f95b5b;
  background-color: #dd3738;
}
.switcher.type_2 .switcher_inner_2 {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNDNlM2YiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E5MjUyOCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #f43e3f 0%, #a92528 100%);
  background-image: linear-gradient(to bottom, #f43e3f 0%, #a92528 100%);
}
.switcher.type_2 .switcher_state:after {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1NjE1MTciIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwMzgzOSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #561517 0%, #e03839 100%);
  background-image: linear-gradient(to bottom, #561517 0%, #e03839 100%);
}
.switcher.type_2 .switcher_outside_label:hover {
  color: #f94040;
}
.switcher.type_2 .switcher_outside_label:hover:before {
  border-color: #f95b5b;
}
.switcher.type_2.state_1 .switcher_outside_label.label_state_1:before {
  border-color: #f95b5b;
  background-color: #dd3738;
}
.switcher.type_2.state_2 .switcher_outside_label.label_state_2:before {
  border-color: #f95b5b;
  background-color: #dd3738;
}
/* -----------------------------------------------------------------------------
	Search Form Tabs
----------------------------------------------------------------------------- */
.seach_form__tabs_list .seach_form__tabs_item .icon {
  color: #e12021;
}
.seach_form__tabs_list .seach_form__tabs_item:hover a,
.seach_form__tabs_list .seach_form__tabs_item.active a,
.seach_form__tabs_list .seach_form__tabs_item:hover a:hover,
.seach_form__tabs_list .seach_form__tabs_item.active a:hover,
.seach_form__tabs_list .seach_form__tabs_item:hover a:focus,
.seach_form__tabs_list .seach_form__tabs_item.active a:focus {
  color: #fff;
  border-color: #b72a27;
  border-top-color: #c72b2b;
  border-bottom-color: #a62923;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
  text-shadow: 0 1px #000000;
  box-shadow: inset 0 1px #ff8383;
}
/* -----------------------------------------------------------------------------
	Goods List
----------------------------------------------------------------------------- */
/* Views */
.goods_list {
  /* Grid View */
  /* List View */
}
.goods_list.grid_view .goods_item__title a {
  color: #4093d8;
  border-bottom-color: rgba(64, 147, 216, 0.5);
}
.goods_list.grid_view .goods_item__title a:hover {
  border-bottom-color: transparent;
}
.goods_list.grid_view .goods_item:hover .goods_item__inner {
  border-color: #e12021;
}
.goods_list.list_view .goods_item:hover {
  border-color: #e12021;
}
/* -----------------------------------------------------------------------------
	Order Form
----------------------------------------------------------------------------- */
.basket_order_form .basket_order__main a:hover {
  color: #e12021;
  border-bottom-color: rgba(225, 32, 33, 0.5);
}
/* -----------------------------------------------------------------------------
	Banners Rotator 
----------------------------------------------------------------------------- */
.banners_rotator .banners_rotator__inner__head .shop_name {
  background: #f53f3f;
}
.banners_rotator .dot.active:before,
.banners_rotator .dot:hover:before {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYzQxNDEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fc4141 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fc4141 0%, #901d20 100%);
}
/* -----------------------------------------------------------------------------
	Contacts
----------------------------------------------------------------------------- */
.contacts_block a .contacts__icon:before,
.contacts_block .address .contacts__icon:before {
  color: #e12021;
}
.contacts_block a:hover,
.contacts_block .address:hover {
  color: #e12021;
}
.contacts_block .phone:hover {
  border-bottom-color: #e12021;
}
.contacts_block .address .contacts__icon {
  color: #e12021;
}
/* -----------------------------------------------------------------------------
	Share Buttons
----------------------------------------------------------------------------- */
.page_footer__share_item,
.page_footer__share_item:hover {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZjQyNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkyMWQyMSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ff4242 0%, #921d21 100%);
  background-image: linear-gradient(to bottom, #ff4242 0%, #921d21 100%);
}
/* -----------------------------------------------------------------------------
	Goods List Categories
----------------------------------------------------------------------------- */
.goods_list__categories_item__link .inner {
  border-bottom: 1px solid rgba(24, 118, 224, 0.5);
}
.goods_list__categories_item__link:hover {
  color: #e12021;
}
.goods_list__categories_item__link:hover .inner {
  border-bottom: 1px solid rgba(225, 32, 33, 0.5);
}
.goods_list__categories_item__link.active .inner {
  border: none;
}
.goods_list__categories_item__link.active .icon {
  color: #e12021;
  border: none;
}
/* -----------------------------------------------------------------------------
	Sidebar Navigation
----------------------------------------------------------------------------- */
.page_aside__nav_list > li > a:hover {
  color: #e12021;
}
.page_aside__nav_list > li > a:hover .icon {
  color: #e12021;
}
/* -----------------------------------------------------------------------------
	Action Links
----------------------------------------------------------------------------- */
.put_off_link {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px dashed;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  padding: 23px 0 0;
  line-height: 1.1;
}
.put_off_link .icon {
  font-size: 19px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.put_off_link:hover {
  color: #e12021;
}
.delete_link:hover,
.compare_link:hover,
.favourite_link:hover,
.inform_link:hover,
.complain_link:hover {
  color: #e12021;
}
/* -----------------------------------------------------------------------------
	Compare Block
----------------------------------------------------------------------------- */
.compare_block .compare_type__item:hover {
  color: #e12021;
}
.compare_block .goods_item_delete:hover {
  color: #e12021;
}
/* -----------------------------------------------------------------------------
	 Popup Buy
----------------------------------------------------------------------------- */
.popup_buy .popup_buy__head__make_order .continue:hover {
  color: #e12021;
}
/* -----------------------------------------------------------------------------
	Basket
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
	Ordering
----------------------------------------------------------------------------- */
.ordering_block.step_1 .basket_order_form .basket_order__main .title a:hover {
  color: #e12021;
  border-bottom-color: rgba(225, 32, 33, 0.5);
}
.ordering_block.step_1 .ordering_block__active {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
  border-color: #b72a27;
  border-top-color: #c72b2b;
  border-bottom-color: #a62923;
}
.ordering_block.step_1 .ordering_block__inactive:hover {
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZDQxNDIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwMWQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fd4142 0%, #901d20 100%);
  background-image: linear-gradient(to bottom, #fd4142 0%, #901d20 100%);
  border-color: #b72a27;
  border-top-color: #c72b2b;
  border-bottom-color: #a62923;
}
.ordering_block.step_3 .ordering_block__inner_head .collapse_info:hover {
  color: #e12021;
}
.ordering_block.step_3 .ordering_block__features .item .icon_wrapper:hover {
  border-color: #e12021;
}
.ordering_block.step_3 .ordering_block__features .item .jq-radio.checked + .icon_wrapper {
  border: 3px solid #e12021;
}
/* -----------------------------------------------------------------------------
	Profile Settings
----------------------------------------------------------------------------- */
.profile_content .add_item:hover {
  color: #e12021;
  border-bottom-color: #e12021;
}
.profile_content .delete_item:hover {
  color: #e12021;
  border-bottom-color: #e12021;
}
/* -----------------------------------------------------------------------------
	404
----------------------------------------------------------------------------- */
.error_404:before {
  background: url('../../images/i/404_red.png') no-repeat;
}
/* -----------------------------------------------------------------------------
	Gallery
----------------------------------------------------------------------------- */
.item_gallery__tumbs .item.active,
.item_gallery__tumbs .item:hover {
  border-color: #e12021;
}
/* -----------------------------------------------------------------------------
	Sitemap
----------------------------------------------------------------------------- */
.sitemap_list a:hover .icon {
  color: #e12021;
}
/* -----------------------------------------------------------------------------
	City Selection
----------------------------------------------------------------------------- */
.popup_city_selection__list li span:hover {
  color: #e12021;
  border-bottom-color: #e12021;
  border-bottom-color: rgba(225, 32, 33, 0.5);
}
/* -----------------------------------------------------------------------------
	Brands List
----------------------------------------------------------------------------- */
.main_content__brands_item__inner:hover {
  box-shadow: 0 0 5px #e12021;
}
/* -----------------------------------------------------------------------------
	@section 9.3.27. Profile Nav
----------------------------------------------------------------------------- */
.profile_nav a:hover {
  border-bottom-color: #e12021;
  border-bottom-color: rgba(225, 32, 33, 0.5);
}
@media (max-width: 991px) {
  .page_header__nav .navbar-default {
    border-bottom: 2px solid #e12021;
  }
  .page_header__nav .navbar-default .navbar-nav > li a:hover {
    color: #e12021;
  }
}
.item_modifications tbody > tr:hover {
  background: rgba(225, 32, 33, 0.25);
}
.countdown-block .already-sold .already-sold-track .bar {
  background-color: #e44041;
}
.mm-more__content {
  background: #e17374;
}
.page_header__nav {
  color: red;
  background: red;
}
/* -----------------------------------------------------------------------------
	Settings Button
----------------------------------------------------------------------------- */
