@font-face {
	font-family: 'icons';
	src: url('icons.eot?53368246');
	src: url('icons.eot?53368246#iefix') format('embedded-opentype'),
				 url('icons.woff?53368246') format('woff'),
				 url('icons.ttf?53368246') format('truetype'),
				 url('icons.svg?53368246#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?53368246#icons') format('svg');
  }
}
*/

.icon {
	font-family:             "icons";
	display:                 inline-block;
	vertical-align:          middle;
	line-height:             1;
	font-weight:             normal;
	font-style:              normal;
	speak:                   none;
	text-decoration:         inherit;
	text-transform:          none;
	text-rendering:          optimizeLegibility;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
.icon_vehicle3:before { content: '\e800'; } /* '' */
.icon_view2:before { content: '\e801'; } /* '' */
.icon_vk:before { content: '\e802'; } /* '' */
.icon_tyre:before { content: '\e803'; } /* '' */
.icon_tyrebold:before { content: '\e804'; } /* '' */
.icon_user85:before { content: '\e805'; } /* '' */
.icon_search19:before { content: '\e806'; } /* '' */
.icon_shopping16:before { content: '\e807'; } /* '' */
.icon_snowflake:before { content: '\e808'; } /* '' */
.icon_wheel4:before { content: '\e809'; } /* '' */
.icon_youtube:before { content: '\e80a'; } /* '' */
.icon_youtube26:before { content: '\e80b'; } /* '' */
.icon_heart-empty:before { content: '\e80c'; } /* '' */
.icon_2x2:before { content: '\e80d'; } /* '' */
.icon_2x2_2:before { content: '\e80e'; } /* '' */
.icon_3x3:before { content: '\e80f'; } /* '' */
.icon_add:before { content: '\e810'; } /* '' */
.icon_arrow133:before { content: '\e811'; } /* '' */
.icon_arrow215:before { content: '\e812'; } /* '' */
.icon_arrow222:before { content: '\e813'; } /* '' */
.icon_arrow65:before { content: '\e814'; } /* '' */
.icon_arrow652:before { content: '\e815'; } /* '' */
.icon_arrow85:before { content: '\e816'; } /* '' */
.icon_arrow97:before { content: '\e817'; } /* '' */
.icon_back15:before { content: '\e818'; } /* '' */
.icon_black13:before { content: '\e819'; } /* '' */
.icon_car:before { content: '\e81a'; } /* '' */
.icon_car48:before { content: '\e81b'; } /* '' */
.icon_check34:before { content: '\e81c'; } /* '' */
.icon_clear3:before { content: '\e81d'; } /* '' */
.icon_closed40:before { content: '\e81e'; } /* '' */
.icon_cloudy1:before { content: '\e81f'; } /* '' */
.icon_comment2:before { content: '\e820'; } /* '' */
.icon_delete:before { content: '\e821'; } /* '' */
.icon_delete30:before { content: '\e822'; } /* '' */
.icon_disk:before { content: '\e823'; } /* '' */
.icon_disk2:before { content: '\e824'; } /* '' */
.icon_disk3:before { content: '\e825'; } /* '' */
.icon_email20:before { content: '\e826'; } /* '' */
.icon_eye63:before { content: '\e827'; } /* '' */
.icon_fb:before { content: '\e828'; } /* '' */
.icon_folder:before { content: '\e829'; } /* '' */
.icon_gear:before { content: '\e82a'; } /* '' */
.icon_home39:before { content: '\e82b'; } /* '' */
.icon_incoming1:before { content: '\e82c'; } /* '' */
.icon_incoming4:before { content: '\e82d'; } /* '' */
.icon_instagram:before { content: '\e82e'; } /* '' */
.icon_instagramm:before { content: '\e82f'; } /* '' */
.icon_ipad6:before { content: '\e830'; } /* '' */
.icon_jeep:before { content: '\e831'; } /* '' */
.icon_justified:before { content: '\e832'; } /* '' */
.icon_lines:before { content: '\e833'; } /* '' */
.icon_list:before { content: '\e834'; } /* '' */
.icon_list2:before { content: '\e835'; } /* '' */
.icon_list27:before { content: '\e836'; } /* '' */
.icon_list41:before { content: '\e837'; } /* '' */
.icon_little16:before { content: '\e838'; } /* '' */
.icon_location4:before { content: '\e839'; } /* '' */
.icon_magnifier13:before { content: '\e83a'; } /* '' */
.icon_magnifying42:before { content: '\e83b'; } /* '' */
.icon_measuring7:before { content: '\e83c'; } /* '' */
.icon_menu29:before { content: '\e83d'; } /* '' */
.icon_mobile53:before { content: '\e83e'; } /* '' */
.icon_new6:before { content: '\e83f'; } /* '' */
.icon_oil2:before { content: '\e840'; } /* '' */
.icon_page:before { content: '\e841'; } /* '' */
.icon_paragraph14:before { content: '\e842'; } /* '' */
.icon_phone:before { content: '\e843'; } /* '' */
.icon_phone12:before { content: '\e844'; } /* '' */
.icon_pin:before { content: '\e845'; } /* '' */
.icon_recycling10:before { content: '\e846'; } /* '' */
.icon_right20:before { content: '\e847'; } /* '' */
.icon_screw5:before { content: '\e848'; } /* '' */
.icon_screwsnow:before { content: '\e849'; } /* '' */
.icon_social38:before { content: '\e84a'; } /* '' */
.icon_tablet5:before { content: '\e84b'; } /* '' */
.icon_twitter:before { content: '\e84c'; } /* '' */
.icon_battery152:before { content: '\e84d'; } /* '' */
.icon_car96:before { content: '\e84e'; } /* '' */
.icon_delivery41:before { content: '\e84f'; } /* '' */
.icon_school11:before { content: '\e850'; } /* '' */
.icon_scooter8:before { content: '\e851'; } /* '' */
.icon_compressor:before { content: '\e852'; } /* '' */
.icon_electronic_main:before { content: '\e853'; } /* '' */
.icon_navigator:before { content: '\e854'; } /* '' */
.icon_parktronic:before { content: '\e855'; } /* '' */
.icon_videoregistr:before { content: '\e856'; } /* '' */
.icon_audio:before { content: '\e857'; } /* '' */
.icon_cable:before { content: '\e858'; } /* '' */
.icon_connect:before { content: '\e859'; } /* '' */
.icon_others:before { content: '\e85a'; } /* '' */
.icon_video:before { content: '\e85b'; } /* '' */
.icon_mech_block:before { content: '\e85c'; } /* '' */
.icon_others-1:before { content: '\e85d'; } /* '' */
.icon_fuel12-steklo:before { content: '\e85e'; } /* '' */
.icon_gearwheels-trans:before { content: '\e85f'; } /* '' */
.icon_oil2-1:before { content: '\e860'; } /* '' */
.icon_small124-tehjid:before { content: '\e861'; } /* '' */
.icon_thermometer14-anti:before { content: '\e862'; } /* '' */
.icon_firearm:before { content: '\e863'; } /* '' */
.icon_gun1:before { content: '\e864'; } /* '' */
.icon_gun8:before { content: '\e865'; } /* '' */
.icon_gun9:before { content: '\e866'; } /* '' */
.icon_knife4:before { content: '\e867'; } /* '' */
.icon_camping10:before { content: '\e868'; } /* '' */
.icon_house100:before { content: '\e869'; } /* '' */
.icon_bike15:before { content: '\e86a'; } /* '' */
.icon_canoe3:before { content: '\e86b'; } /* '' */
.icon_car-1:before { content: '\e86c'; } /* '' */
.icon_skiing5:before { content: '\e86e'; } /* '' */
.icon_brightness12:before { content: '\e86f'; } /* '' */
.icon_flash30-comb:before { content: '\e870'; } /* '' */
.icon_light42:before { content: '\e871'; } /* '' */
.icon_light99:before { content: '\e872'; } /* '' */
.icon_shining5:before { content: '\e873'; } /* '' */
.icon_guard:before { content: '\e874'; } /* '' */
.icon_guardcomplex:before { content: '\e875'; } /* '' */
.icon_immobilizwe:before { content: '\e876'; } /* '' */